.card {
    height: 600px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    margin: 10px;
}

.card-img-top {
    width: 75%;
    margin: 0 auto;
}

.button-card {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}